/* font import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* default style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

.gradient-background {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.container {
    width: 80%;
    margin: 0px auto;
}

/* Navbar Section style */
.navbar-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 16px;
}

.logo {
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.menu {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 7px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
}

.menu .select {
    background-color: rgb(230, 83, 60);
    padding: 7px;
    border-radius: 50px;
    color: #ffffff;
    width: 70px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

/* banner section style */
.banner {
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-style {
    font-family: "Parisienne";
    font-weight: 400;
    font-size: 150px;
}

.banner-content h3 {
    font-size: 75px;
    font-weight: 900px;
    color: #ffffff;
    line-height: 120%;
}

.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.banner-btn {
    display: flex;
    gap: 15px;
}

.btn-1 {
    width: 200px;
    height: 50px;
    border-radius: 42px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255);
    line-height: 120%;
    font-weight: 600;
    background: rgb(230, 83, 60);
}
.calculate-btn{
    width: 200px;
    height: 50px;
    border-radius: 42px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255);
    line-height: 120%;
    font-weight: 600;
    background: rgb(230, 83, 60);
}
.btn-4 {
    width: 200px;
    height: 50px;
    border-radius: 42px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255);
    line-height: 120%;
    font-weight: 600;
    background: rgb(230, 83, 60);
}

.btn-3 {
    width: 200px;
    height: 50px;
    border-radius: 42px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255);
    line-height: 120%;
    font-weight: 600;
    background: rgb(230, 83, 60);
    display: none;
}

.btn-2 {
    width: 200px;
    height: 50px;
    border-radius: 42px;
    border: 1px solid gray;
    font-size: 16px;
    color: #ffffff;
    background-color: black;
    font-weight: 600;
}

.box {
    height: 40px;
    width: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50px;
}

.banner-card {
    display: flex;
    gap: 40px;
    background-image: url(images/bannerimage.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-1 {
    width: 180px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(40px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 310px;
    margin-right: 60px;
}

.card-2 {
    width: 180px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    margin-right: 50px;
}

.card-content {
    color: rgb(250, 250, 249);
}

.card-content p {
    font-size: 12px;
}

/* Change Your Habits section style */
.header-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.header-content h3 {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header-content p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
}

/* Change Your Habits card style */
.habits-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.habits-card .card img {
    border-radius: 100px;
    margin-bottom: 25px;
    border: 3px solid rgba(255, 255, 255, 0.1);
}

.habits-card .card h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.habits-card .card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}

/* Run an Extra Mile Easily section style */
.extra-mile-section {
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-bottom: 60px;
}

.extra-mile-content {
    margin-left: 40px;
    padding: 25px;
}

.extra-mile-content h3 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
}

.extra-mile-content p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.extra-mile-section img {
    height: 300px;
    width: 370px;
    border-radius: 18px;
    margin-right: 30px;
}

/* BMI Calculator section */
.bmi-calculator {
    width: 100%;
    background: rgb(34, 34, 34);
}

.bmi-header-content {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.bmi-header-content h3 {
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
}

.bmi-header-content p {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator-content {
    display: flex;
    height: 400px;
    justify-content: space-between;
    align-items: start;
    padding-top: 50px;
}

.bmi-calculator-chart h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 45px;
}

.bmi-calculator-chart th {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

.bmi-calculator-chart td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bmi-calculator-section h3 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 15px;
}

.bmi-calculator-section p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 500px;
    padding-bottom: 15px;
}

.bmi-calculator-section input {
    height: 40px;
    width: 280px;
    padding: 5px;
    margin: 5px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

.bmi-calculator-section select {
    padding: 10px;
    margin: 0px 8px 8px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}

.select-1 {
    height: 50px;
    width: 290px;

}

.select-2 {
    height: 50px;
    width: 583px;
}

/* Meet Our Team section style */
.meet-out-team {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    height: 600px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
}

.meet-content-card {
    width: 325px;
    height: 272px;
    border-radius: 18px;
    position: relative;
}

.meet-content-card img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.meet-card-info {
    position: absolute;
    top: 200px;
    left: 15px;
    color: #ffffff;
}

.meet-card-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}

/* footer section style */
.footer {
    width: 100%;
    height: 370px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-content {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.footer-colum-1 h2 {
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    color: rgb(230, 83, 60);
}

.footer-colum-1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
}

.footer-colum-2 h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
}

.footer-colum-2 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 15px 0;
    display: block;
}

/* copy-write section style */
.copy-write p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-weight: 400;
    padding-top: 20px;
}

.line {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.ham-burger{
    display: none;
}

/* -------------mobile responsive --------------- */

@media screen and (max-width: 576px) {
    /* This is nav section */
    .menu{
        display: none;
    }

    .ham-burger{
        display: block;
        background-color: #ffffff;
    }

    /* this is banner section */
    .banner {
        height: 830px;
        display: flex;
        flex-direction: column;
    }

    .banner-content h3 {
        font-size: 45px;
        padding-bottom: 20px;
    }

    .text-style {
        font-family: "Parisienne";
        font-weight: 400;
        font-size: 90px;
    }

    .banner-content p {
        padding-bottom: 30px;
    }

    .btn-1{
        display: none;
    }

    .btn-3{
        display: block;
    }

    .banner-content{
        padding-bottom: 40px;
    }

    /* this is header section */
    .banner-card {
        display: flex;
    }

    .card-1 {
        display: flex;
        margin-bottom: 150px;
        margin-right: 50px;
    }
    
    .card-2 {
        display: flex;
        padding-left: 5px;
        margin-top: 50px;
        margin-right: 5px;
    }

    .card-content h3{
        font-size: 28px;
    }

    .card-content p{
        font-size: 16px;
    }

    .box {
        height: 35px;
        width: 35px;
    }

    /* This is Change Your Habits section */
    .header-content h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .header-content p {
        width: 500px;
    }
    .habits-card {
        flex-direction: column;
        gap: 25px;
    }

    /* Run an Extra Mile Easily section */
    .extra-mile-section {
        height: 600px;
        flex-direction: column;
    }
    
    .extra-mile-content {
        margin-left: 10px;
        padding: 15px;
    }
    
    .extra-mile-content h3 {
        font-size: 40px;
    }

    .btn-4 {
        width: 100%;
    }

    .extra-mile-section{
        padding: 20px 0;
    }

    .extra-mile-section img {
        height: 300px;
        width: 390px;
        margin: 10px auto;
    }

    /* BMI Calculator section */
    .bmi-header-content {
        width: auto;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-left: 40px;
    }
    
    .bmi-header-content h3 {
        font-size: 30px;
        padding-bottom: 10px;
    }
    
    .bmi-header-content p {
        margin-right: 50px;
    }

    .bmi-calculator-content {
        height: 650px;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .bmi-calculator-chart h3 {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .bmi-calculator-section h3 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    .bmi-calculator-section p {
        padding-bottom: 15px;
    }
    
    .bmi-calculator-section input {
        height: 40px;
        width: 140px;
    }
    
    .select-1 {
        height: 50px;
        width: 150px;
    
    }
    
    .select-2 {
        height: 50px;
        width: 305px;
    }
    
    /* Meet Our Team section */
    .meet-out-team {
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .meet-content-card {
        width: 430px;
        height: 380px;
    }
    
    .meet-card-info {
        top: 310px;
    }
    
    /* footer section style */
    .footer {
        height: 750px;
        align-items: center;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-colum-1 {
        margin-bottom: 20px;
    }

    .footer-colum-2 {
        margin-bottom: 20px;
    }

}